<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.author }}">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  <meta name="twitter:card" content="summary_large_image">
  {{ template "_internal/google_analytics.html" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" href="{{ "assets/favicon.ico" | relURL }}">
  {{ with .Site.Config.Services.GoogleAnalytics.ID }}
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  {{ end }}
  <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ "atom.xml" | relURL }}">
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | relURL }}">
  {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

  {{ if .IsHome -}}
  {{- $website := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
    "inLanguage" .Site.Language.Lang
  -}}
  <script type="application/ld+json">{{ $website | jsonify | safeJS }}</script>
  {{- else if and .IsPage (eq .Section "posts") -}}
  {{- $author := or .Params.author .Site.Params.author -}}
  {{- $description := or .Description .Summary -}}
  {{- $images := slice -}}
  {{- with .Params.images -}}
    {{- range . -}}{{- $images = $images | append (. | absURL) -}}{{- end -}}
  {{- else -}}
    {{- $images = $images | append (.Site.Params.logo | absURL) -}}
  {{- end -}}
  {{- $tags := .Params.tags | default slice -}}
  {{- $blogPosting := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "articleSection" .Section
    "name" .Title
    "headline" .Title
    "description" ($description | plainify)
    "inLanguage" .Site.Language.Lang
    "isFamilyFriendly" true
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "author" (dict "@type" "Person" "name" $author)
    "creator" (dict "@type" "Person" "name" $author)
    "copyrightHolder" .Site.Title
    "copyrightYear" (.Date.Format "2006")
    "dateCreated" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "publisher" (dict "@type" "Organization" "name" .Site.Title "url" .Site.BaseURL)
    "image" $images
    "url" .Permalink
    "wordCount" .WordCount
    "keywords" $tags
  -}}
  <script type="application/ld+json">{{ $blogPosting | jsonify | safeJS }}</script>
  {{- end }}
</head>
